<%= link_to "Back to projects", @project, class: "btn btn-secondary mb-3" %>

<div class="card">
  <div class="card-body">
    <h2 class="card-tile mb-4">
      <span>Editing Task</span>
    </h2>
    <%= render "form" %>
  </div>
  <%= link_to 'Delete', project_task_path(@project, @task), data: {turbo_method: :delete, turbo_confirm: "Are you sure? " }, class: "btn btn-warning" %>
</div>
