<table class="table">
  <tbody>
  <tr>
    <th scope="row">Name</th>
    <td><%= project.name %></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td><%= project.description %></td>
  </tr>
  </tbody>
</table>